<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yfdl.mapper.TagMapper">
    <select id="getArticleCountByTag" resultType="java.lang.Long">
        SELECT COUNT(sg_article.id) from sg_article WHERE sg_article.id IN(
            SELECT article_id from sg_article_tag WHERE sg_article_tag.tag_id =#{tagId}
        ) AND sg_article.del_flag =0 AND sg_article.audit =0

    </select>
    <select id="articleInfoByTag" resultType="com.yfdl.vo.tag.ArticleInfoByTagVo">
        SELECT  sg_article_tag.tag_id ,(SELECT sg_tag.`name` from sg_tag WHERE sg_tag.id=sg_article_tag.tag_id)as tag_name ,COUNT(sg_article_tag.tag_id) as count from sg_article_tag WHERE
                article_id in (SELECT sg_article.id from sg_article WHERE create_by=#{userId}  AND del_flag=0)
        GROUP BY sg_article_tag.tag_id
    </select>
</mapper>